@page
@model FarmerConnect.Pages.KnowledgeSharingFarmerModel
@{
}
<link rel="stylesheet" href="~/css/style.css">
<style>

    form {
        margin-left: 27%;
        margin-top: 10px;
        margin-bottom: 20px;
    }
    form label{
        color: white;
    }

    .modal-content {
        background-color: #fff;
    }

    .modal-header {
        background-color: #134611;
    }
</style>
<div class="container">
    @if (Model.message.Length > 1)
    {
        <div class="modal fade" id="messageModal" tabindex="-1" role="dialog" aria-labelledby="messageModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="messageModalLabel">Message</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <center> <p><strong>Hello!</strong> @Model.message</p></center>
                    </div>
                </div>
            </div>
        </div>

        <!-- Show the modal using JavaScript when needed -->
        <script>
            $(document).ready(function () {
                $('#messageModal').modal('show');
            });
        </script>
    }

    <button type="button" onclick="location.href='@Url.Page("/FarmerHome")'" class="btn btn-outline-primary">Back</button>
    <br />
    <br />
    <form method="post">
    <div class="row g-3">
            <div class="col">
                <input type="text" class="form-control" placeholder="Enter User ID" aria-label="ID" name="user_id" readonly value="@HttpContext.Session.GetInt32("UserId")">
            </div>
        <div class="col">
            <input type="text" class="form-control" placeholder="Enter Title" aria-label="Title" name="title">
        </div>
    </div>
    <div class="mb-3">
        <label for="exampleFormControlTextarea1" class="form-label">Enter Content</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name="content"></textarea>
    </div>
    <div class="d-grid gap-2 col-6 mx-auto">
        <button class="btn btn-primary" type="submit">Post</button>
    </div>
    </form>

    <h3>
        KnowledgeSharing
        <small class="text-body-secondary">Your Posts</small>
    </h3>

    <div class="accordion accordion-flush" id="accordionFlushExample">
        @foreach (var knowledge in Model.knowledgesharingList)
        {
            <div class="accordion-item">
                <h2 class="accordion-header" id="@("heading" + knowledge.Id)">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="@("#collapse" + knowledge.Id)" aria-expanded="false" aria-controls="@("collapse" + knowledge.Id)">
                        @knowledge.title
                    </button>
                </h2>
                <div id="@("collapse" + knowledge.Id)" class="accordion-collapse collapse" aria-labelledby="@("heading" + knowledge.Id)" data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">@knowledge.content</div>
                    <div><code>@knowledge.timestamp</code></div>
                </div>
            </div>
        }
    </div>

</div>
